<div class="mt-5 flex justify-center items-center min-h-screen p-4 shadow-2xl ">
    <div class=" shadow-xl border-2 rounded-lg p-5 w-full max-w-sm flex flex-col items-center pb-10 dark:border-none">
        <!-- Use a fallback image if none is provided -->
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/images/siri.jpg" alt="{{ .Title }}"/>
        
        <!-- Display title -->
        <h5 class="mb-1 text-xl font-medium dark:text-white">Sireesha Seru</h5>
        
        <!-- Display role -->
        <span class="text-sm text-gray-500 dark:text-gray-400">IT Grad PTU 2024</span>
        
        <div class="flex mt-4 md:mt-6">
            <!-- Connect Button -->
            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg
             focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-blue-600 
            hover:text-white
            focus:text-white
        dark:hover:bg-red-700 dark:focus:ring-blue-800">Connect</a>
            
            <!-- Message Button -->
            <!-- <a href="#" class="py-2 px-4 ms-2 text-sm font-medium bg-white focus:outline-none rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700
            dark:border-gray-600  dark:hover:bg-gray-700
            shadow-md dark:text-gray-900">Message</a> -->
        </div>
    </div>
</div>
<style>
    @media (prefers-color-scheme: dark) {
    .dark\:text-black {
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity)) /* #000000 */;
    }
}
@media (prefers-color-scheme: dark) {
    .dark\:border-none {
        border-style: none;
    }
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity)) /* #d1d5db */;
}
    /* Dark mode border color */
    @media (prefers-color-scheme: dark) {
        .dark\:border-gray-700 {
            --tw-border-opacity: 1;
            border-color: rgb(55 65 81 / var(--tw-border-opacity)); /* #374151 */
        }
    }
    @media (prefers-color-scheme: dark) {
    .dark\:text-gray-900 {
        --tw-text-opacity: 1;
        color: rgb(17 24 39 / var(--tw-text-opacity)) /* #111827 */;
    }
}
</style>
